:root {
    --primary-color: #7209b7;
    --secondary-color: #3b3551;
	--button-hover-color: #520785;
}

form {
	margin: 0 auto;
	display: grid;
	margin-top: 50px;
	max-width: 900px;
}

/* Progress bar */
.progressbar {
	width: 900px;
	position: relative;
	display: flex;
	justify-content: space-between;
	counter-reset: step;
	margin: 30px auto 0px auto;
}

.progressbar::before,
.progress {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 4px;
	width: 100%;
	background-color: #dcdcdc;
	z-index: -1;
}

.progress {
	background-color: var(--primary-color);
	width: 0%;
	transition: 0.3s;
}

.progress-step {
	width: 2.1875rem;
	height: 2.1875rem;
	background-color: #dcdcdc;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.progress-step::before {
	counter-increment: step;
	content: counter(step);
}

.progress-step::after {
	content: attr(data-title);
	position: absolute;
	top: calc(100% + 0.5rem);
	font-size: 0.85rem;
	text-align: center;
	color: #666;
}

.progress-step-active {
	background-color: var(--primary-color);
	color: #f3f3f3;
}


/* Etapas */
.form-step {
	display: none;
	transform-origin: top;
	animation: animate 0.5s;
  }
  
  .form-step-active {
	display: block;
  }
  
  
  @keyframes animate {
	from {
	  transform: scale(1, 0);
	  opacity: 0;
	}
	to {
	  transform: scale(1, 1);
	  opacity: 1;
	}
  }

/* Primeira etapa de cadastro */
.primeira-etapa {
	height: 80vh;
	display: flex;
}

.cadastrar {
	background-color: white;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.cadastrar .background {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.1;
	object-fit: cover;
}

.cadastrar .cadastrar-logo {
	width: 210px;
	height: 95px;
	margin-bottom: 20px;
}

.cadastrar .cadastrar-logo img {
	width: 100%;
	height: 100%;
}

.cadastrar hr {
	width: 331px;
	height: 5px;
	background-color: var(--primary-color);
	margin-bottom: 40px;
}

.cadastrar button {
	width: 281px;
	height: 50px;
	background-color: var(--primary-color);
	color: white;
	border-radius: 25px;
	border: none;
	text-align: center;
	font-size: 20pt;
	position: relative;
	cursor: pointer;
}

.cadastrar button:hover {
	background-color: var(--button-hover-color);
}

.forms {
	width: 60%;
	background-color: var(--secondary-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}

form .input-forms {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.forms .input-forms input {
	width: 400px;
	height: 40px;
	font-size: 17px;
	text-indent: 31px;
	margin-bottom: 28px;
}

.forms input::placeholder {
	color: var(--primary-color);
}

.forms p {
	width: 400px;
	color: white;
	font-size: 19px;
	margin-top: 50px;
	text-align: center;
}

.forms p span {
	font-weight: 600;
}

/* Segunda etapa */
.segunda-etapa {
	color: var(--secondary-color);
	display: flex;
	flex-direction: column;
}

.segunda-etapa .input-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.segunda-etapa .input-row .input-group {
	width: 45%;
}
.segunda-etapa .input-row .input-group label {
	display: block;
	margin-bottom: 0.5rem;
  }
  
.segunda-etapa .input-row .input-group input {
	display: block;
	width: 100%;
	background-color: #ddd;
	padding: 0.75rem;
	border: 1px solid #ddd;
	border-radius: 0.25rem;
}


/* Terceira Etapa: Dados bancários */
.terceira-etapa .banco-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;

}

.terceira-etapa .banco {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.terceira-etapa .banco-group .banco label {
	margin-right: 10px;
  }
  
.terceira-etapa .banco-group .banco input {
	width: 60%;
	display: inline;
	padding: 0.75rem;
	border: 1px solid #ddd;
	border-radius: 0.25rem;
	margin-right: 20px;
}

.terceira-etapa .banco-group .banco input:disabled {
	background-color: #ddd;
}

.terceira-etapa .banco-group button {
	width: 20%;
	font-size: 18px;
	padding: 0.75rem;
	text-decoration: none;
	background-color: var(--primary-color);
	color: white;
	text-align: center;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
	transition: 0.3s;
	text-align: center;
	cursor: pointer;
}

.terceira-etapa .banco-group button:hover {
	background-color: var(--button-hover-color);
}

/* Confirmar os dados bancários */
.confirmar-banco {
	color: #3b3551;
	padding: 10px;
	display: none;
	flex-direction: column;
	animation-name: animate;
	animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animate {
	from {
		transform: scale(1, 0);
		opacity: 0;
	  }
	  to {
		transform: scale(1, 1);
		opacity: 1;
	  }
}

.confirmar-banco .input-row {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.confirmar-banco .input-row .input-group {
	width: 45%;
}
.confirmar-banco .input-row .input-group label {
	display: block;
	margin-bottom: 0.5rem;
  }
  
.confirmar-banco .input-row .input-group input {
	display: block;
	width: 100%;
	padding: 0.75rem;
	border: 1px solid #ddd;
	border-radius: 0.25rem;
}

/* Quarta Etapa: Confirmação */
.quarta-etapa {
	width: 100%;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.quarta-etapa h1 {
	color: var(--primary-color);
	margin: 50px 0px;
}

.quarta-etapa p {
	text-align: center;
}

.quarta-etapa button {
	width: 281px;
	height: 50px;
	background-color: var(--primary-color);
	color: white;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 20pt;
	margin-top: 50px;
	cursor: pointer;
}

.quarta-etapa button:hover {
	background-color: var(--button-hover-color);
}

  /* Button */
.btns-group {
	width: 100%;
	display: flex;
	justify-content: space-between;
  }
  
.btn {
	width: 30%;
	height: 50px;
	padding: 0.75rem;
	background-color: var(--primary-color);
	color: #f3f3f3;
	text-align: center;
	font-size: 1.5rem;
	border-radius: 0.25rem;
	cursor: pointer;
	transition: 0.3s;
	text-align: center;
	cursor: pointer;
	border: none;
  }

.btns-group.center {
	justify-content: center;
	align-items: center;
}

  .btn:hover {
		background-color: var(--button-hover-color);
  }