:root {
    --primary-color: #7209b7;
    --secondary-color: #3b3551;
	--button-hover-color: #520785;
}

.apresentar {
    width: 100%;
    height: 230px;
    background-color: var(--primary-color);
    color: white;
    display: flex;

}

.apresentar .textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 50px 25px 150px;
}

.apresentar .textos h2 {
    margin-bottom: 20px;
}

.apresentar .textos p {
    text-indent: 20px;
    text-align: center;
    line-height: 25px;
}

.apresentar img {
    height: 205px;
    margin-top: 50px;
    margin-right: 30px;
}

/* Kixikilas ativas */
.kixikilas-activas {
    width: 100%;
    height: 603;
    display: flex;
    justify-content: center;
    margin: 50px 0px;

}

.kixikilas-activas .card {
    width: 250px;
    height: 423px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 42px;
    padding: 25px 20px;
}

.kixikilas-activas .card .header {
    width: 200px;
    height: 80px;
    background-color: var(--primary-color);
    border-radius: 28px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.kixikilas-activas .card .header .hand-img {
    width: 72px;
    height: 72px;
    background-color: white;
    border-radius: 19px;
    margin-right: 19px;
}

.kixikilas-activas .card h4 {
    margin-top: 30px;
    margin-bottom: 13px;
}

.kixikilas-activas .card .descricao {
    text-align: center;
    margin-bottom: 13px;
}

.kixikilas-activas .card .valor {
    margin: 23px 0px;
}

.kixikilas-activas .card .fazer-parte {
    width: 170px;
    height: 40px;
    background-color: var(--primary-color);
    color: white;
    font-size: 21px;
    border: none;
    cursor: pointer;
}

.kixikilas-activas .card .fazer-parte:hover {
    background-color: var(--button-hover-color);
}

/* Progresso */
.progresso {
    width: 100%;
    height: 350px;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progresso .textos {
    width: 804px;
    height: 235px;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 50px 10px 0px 200px;
}

.progresso p {
    text-indent: 20px;
    text-align: center;
    line-height: 25px;
    margin-top: 20px;
}

.progresso .smartphone{
    width: 299px;
    height: 374px;
}

.progresso .smartphone .phone{
    width: 100%;
    height: 100%;
}

.progresso .apresentar .logo {
    width: 145px;
    height: 139px;
    position: absolute;
    display: none;
}

main .apresentar .textos h2 {
    margin-bottom: 20px;
}

/* Tela de entrar na kixikila */
.tela-entrar-kixikila {
	width: 100vw;
	height: 100vh;
	background-color: var(--secondary-color);
    color: white;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	overflow: auto;
    display: none;
	flex-direction: column;
	align-items: center;
	animation-name: animatetop;
	animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

.tela-entrar-kixikila .fechar {
	color: white;
	float: right;
	font-size: 58px;
	font-weight: bold;
}

.fechar:hover,
.fechar:focus {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	cursor: pointer;
}

.tela-entrar-kixikila h1 {
	color: var(--primary-color);
	font-size: 50px;
	margin-top: 50px;
	margin-bottom: 30px;
}

.tela-entrar-kixikila h2 {
    margin: 20px 0;
}

.tela-entrar-kixikila h2 span {
    font-size: 20px;
}

.tela-entrar-kixikila h3 {
    margin-bottom: 20px;
}

.tela-entrar-kixikila .descricao {
    width: 30%;
    text-align: justify;
}

.tela-entrar-kixikila .participante-texto {
    font-size: 28px;
    margin: 15px 0;
}

.tela-entrar-kixikila form {
	display: flex;
	flex-direction: column;
    align-items: center;
    margin: 15px 0;
}

.tela-entrar-kixikila .valor {
	color: white;
	font-size: 20px;
	margin-top: 10px;
}

.tela-entrar-kixikila form input {
    width: 50%;
    height: 45px;
    font-size: 18px;
    margin-top: 10px;
    padding: 0.5rem;
}

.tela-entrar-kixikila button {
	width: 370px;
	height: 45px;
	background-color: var(--primary-color);
	color: white;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 28px;
	margin-top: 40px;
	align-self: center;
	cursor: pointer;
}

.tela-entrar-kixikila button:hover {
	background-color: var(--button-hover-color);
}