:root {
    --primary-color: #7209b7;
    --secondary-color: #3b3551;
	--button-hover-color: #520785;
}

body {
	width: 100%;
	height: 90rem;
	background-color: var(--primary-color);
}

main {
	display: flex;
	flex-direction: column;
}

/* Cabeçalho com imagem, nome do usuário, ID e ícone de definições */
.head {
	width: 100%;
	height: 10.8rem;
	background-color: white;
	display: flex;
	align-items: center;
	margin-top: 4rem;
}

.head .circle {
	width: 15rem;
	height: 15rem;
	background-color: white;
	color: white;
	border-radius: 50%;
	margin: 0 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.head .circle .user-img {
	width: 100%;
	height: 100%;
	margin-bottom: 1.5rem;
}

.head .circle button {
	height: 4rem;
	background-color: transparent;
	color: white;
	border: none;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.head .circle button img {
	width: 2.8rem;
	height: 2.8rem;
	margin-right: 0.5rem;
}

.head .circle button span {
	font-size: 2rem;
}

.head .user-nome {
	margin-right: 1.5rem;
}

.head .settings {
	background-color: transparent;
	border: none;
	margin-left: 80rem;
}

.head .settings:hover {
	cursor: pointer;
}

/* h1 */
.kixikilas-presentes {
	color: white;
	font-weight: lighter;
	letter-spacing: 0.1rem;
	text-align: center;
	margin-top: 10rem;
	margin-bottom: 4rem;
}

/* Kixikilas criadas pelo o usuário*/
.kixikilas-criadas {
	width: 80rem;
	color: white;
	align-self: center;
	display: flex;
	align-items: center;
}

.kixikilas-criadas h3 {
	margin-right: 2rem;
}

.kixikilas-criadas .card {
	width: 40.6rem;
	height: 16rem;
	background-color: white;
	color: black;
	border-radius: 3.5rem;
	padding-top: 1.7rem;
	display: flex;
}

.kixikilas-criadas .card .header {
	width: 14.6rem;
	height: 6.8rem;
	background-color: var(--primary-color);
	color: white;
	letter-spacing: 0.1rem;
	border-radius: 2.8rem;
	display: flex;
	align-items: center;
	margin: 0 3.1rem 2rem 1.5rem;
	padding: 0 1.2rem;
}
.kixikilas-criadas .card .header .hand-img {
	width: 5rem;
	height: 5rem;
	background-color: white;
	border-radius: 1.9rem;
	margin-right: 1rem;
}
.kixikilas-criadas .card .header .hand-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.kixikilas-criadas .card .participantes-texto {
	font-size: 1.5rem;
	margin-left: 2.5rem;
}

.kixikilas-criadas .card .second-column p {
	width: 19.3rem;
	font-size: 1.3rem;
	margin-top: .5rem;
}

.kixikilas-criadas .card .second-column .valor {
	width: 18.7rem;
	height: 3rem;
	background-color: var(--primary-color);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	border-radius: 0.5rem;
}

.kixikilas-criadas .card .second-column .valor .montante {
	margin-right: 0.2rem;
}

.kixikilas-criadas .criar-kixikila {
	width: 16.1rem;
	height: 16rem;
	background-color: white;
	color: black;
	margin-left: 4.3rem;
	border-radius: 3.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.kixikilas-criadas .criar-kixikila button {
	width: 8.7rem;
	height: 8.7rem;
	background-color: transparent;
	border: none;
	margin-bottom: 1.5rem;
	cursor: pointer;
}

.kixikilas-criadas .criar-kixikila img {
	width: 100%;
	height: 100%;
}

.kixikilas-criadas .criar-kixikila span {
	font-size: 1.8rem;
}

hr {
	width: 80rem;
	height: 0.5rem;
	background-color: white;
	align-self: center;
	margin: 4rem 0;
}

/* Kixikilas criadas por outros usuários */
.kixikilas-outros {
	width: 80rem;
	color: white;
	align-self: center;
	display: flex;
	align-items: center;
}

.kixikilas-outros h3 {
	margin-right: 2rem;
}

.kixikilas-outros .card {
	width: 40.6rem;
	height: 16rem;
	background-color: var(--secondary-color);
	color: white;
	border-radius: 3.5rem;
	margin-right: 3rem;
	padding-top: 1.7rem;
	display: flex;
}

.kixikilas-outros .card .header {
	width: 14.6rem;
	height: 6.8rem;
	background-color: var(--primary-color);
	color: white;
	letter-spacing: 0.1rem;
	border-radius: 2.8rem;
	display: flex;
	align-items: center;
	margin: 0 3.1rem 2rem 1.5rem;
	padding: 0 1rem;
}
.kixikilas-outros .card .header .hand-img {
	width: 5rem;
	height: 5rem;
	background-color: white;
	border-radius: 1.9rem;
	margin-right: 1rem;
}
.kixikilas-outros .card .header .hand-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.kixikilas-outros .card .participantes-texto {
	font-size: 1.5rem;
	margin-left: 2.5rem;
}

.kixikilas-outros .card .second-column {
	margin-right: 2.5rem;
}

.kixikilas-outros .card .second-column p {
	width: 19.3rem;
	font-size: 1.3rem;
	margin-top: 0.5rem;
}

.kixikilas-outros .card .second-column .valor {
	width: 18.7rem;
	height: 3rem;
	background-color: var(--primary-color);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	border-radius: 0.5rem;
}

.kixikilas-outros .card .second-column .valor .montante {
	margin-right: 0.2rem;
}

/* Tela de criar kixikila */
.tela-criar-kixikila {
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: var(--secondary-color);
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	overflow: auto;
	flex-direction: column;
	align-items: center;
	animation-name: animatetop;
	animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
	from {
		top: -30rem;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

.tela-criar-kixikila .fechar {
	color: white;
	float: right;
	font-size: 5.8rem;
	font-weight: bold;
}

.fechar:hover,
.fechar:focus {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	cursor: pointer;
}

.tela-criar-kixikila h1 {
	color: var(--primary-color);
	font-size: 5rem;
	margin-top: 5rem;
	margin-bottom: 3rem;
}

.tela-criar-kixikila form {
	display: flex;
	flex-direction: column;
}

.tela-criar-kixikila form input[type="text"],
input[type="number"] {
	width: 60.7rem;
	height: 4rem;
	font-size: 1.7rem;
	text-indent: 3.1rem;
	margin: 0.6rem 0;
	padding-right: 2.5rem;
}

.tela-criar-kixikila .valor {
	color: white;
	font-size: 2rem;
	margin-top: 1rem;
}

.tela-criar-kixikila .numero-pessoas {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
}

.tela-criar-kixikila .numero-pessoas .radio-group {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 3rem;
}

.tela-criar-kixikila .numero-pessoas input[type="radio"] {
	width: 3rem;
	height: 3rem;
	background-color: transparent;
	cursor: pointer;
	appearance: none;
	border: 3px solid white;
	border-radius: 50%;
	outline: none;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tela-criar-kixikila .numero-pessoas input[type="radio"]::before {
	width: 4rem;
	height: 4rem;
	background-color: transparent;
	background-image: url(../image/outline_done_white_24dp.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	position: absolute;
	opacity: 0;
	margin-left: 1rem;
	margin-bottom: 1rem;
	transition: all 0.1s;
}

.tela-criar-kixikila .numero-pessoas input[type="radio"]:checked:before {
	opacity: 1;
}

.tela-criar-kixikila .numero-pessoas label {
	cursor: pointer;
	margin-top: 0.2rem;
}

.tela-criar-kixikila button {
	width: 37rem;
	height: 4.5rem;
	background-color: var(--primary-color);
	color: white;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 2.8rem;
	margin-top: 4rem;
	align-self: center;
	cursor: pointer;
}

.tela-criar-kixikila button:hover {
	background-color: var(--button-hover-color);
}